[general]
uuid = 80172ead-7023-496c-a4be-6ee280d8fbcf

[github]
api_token = <YOURAPIKEY>

[ail]
url = https://127.0.0.1:7020/api/v1/import/json/item
apikey = <YOURAPIKEY> 

[redis]
host = 127.0.0.1
port = 6379
db = 0

[archive]
pathArchive = 